* {
	margin: 0px;
	padding: 0px;
}

table {
	border-collapse: collapse;
}

.colorA {
	background: #b32eb3;
	height: 60px;
	width: 60px;
}

.colorB {
	background: #3512ff;
	height: 60px;
	width: 60px;
}